version: 2
updates:
  # Maintain dependencies for npm
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    groups:
      development-dependencies:
        dependency-type: 'development'
        update-types:
          - 'minor'
          - 'patch'
      production-dependencies:
        dependency-type: 'production'
        update-types:
          - 'patch'

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5

  # Maintain dependencies for Docker
  - package-ecosystem: 'docker'
    directory: '/apps/server'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'docker'
    directory: '/apps/web'
    schedule:
      interval: 'weekly'
